.card {
    width: 460px;
    border: 4px solid red;
    font-family: "Anek Latin", sans-serif;
    padding-bottom: 50px;
}

.card-img {
    width: 460px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
    color: gray;
    padding-left: 80px;
    padding-right: 80px;
}

.card-price {
    font-size: 23px;
    display: block;
    text-align: center;
    font-weight: 500;
}
